@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica 65 Medium'), url(https://fonts.cdnfonts.com/s/29136/Helvetica65Medium_22443.woff) format('woff');
}

body {
  margin: 0;
  background-color: gainsboro;
  font-family: sans-serif;
}

.preview {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.pdf {
  font-size: 12pt !important;
  font-family: 'helvetica' !important;
}

.page {
  aspect-ratio: 210 / 297 !important;
  width: 21cm;
  height: 29.7cm;
  padding: 1cm;
  background: #f5f5f5;
  border: 1px solid gray;
}
